
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'container.css';
@import 'nav.css';
@import 'form.css';
@import 'index.css';
@import 'producto';

@font-face {
    font-family: 'restora-bold';
    src: url('/font/RestoraBold.ttf');
}
@font-face {
    font-family: 'restora';
    src: url('/font/Restora.ttf');
}

@font-face {
    font-family: 'meticula';
    src: url('/font/Meticula-Bold.ttf');
}

