body {
    background-color: #FDFBF2 !important;
}

.bgcabecera {
    background-image: url('/img/header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cabecera {
    min-height: 70vh;
    display: flex;
    flex-direction: row;
    text-align:center;
    justify-content:center;
    align-items:center;

}
.contenido h1 {
    font-family: 'Geist-Bold';
}
.contenido {
    display: flex;
    flex-direction: column;
    text-align:center;
    justify-content:center;
    align-items:center;
}
.nosotros__contenido p {
    font-family: 'Geist-regular';
}

.nosotros {
    font-weight: 300;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4em;
}
.nosotros__contenido {
    width: 80%;
}

.somos-riqueza {
    padding-top: 4em;
}
.somos-riqueza__txt h1{
    font-family: 'Geist-bold';
}
.somos-riqueza__txt h1 .natural {
    font-family: 'Italiana';
}
.somos-riqueza__txt p {
    font-family: 'Geist-regular';
    padding-top: 1em;
}

.galeria__contenido {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 4em;
    padding-bottom: 4em;
}
.galeria h1 {
    font-family: 'Geist-Bold';
    padding-bottom: 1em;
    text-align: center;
}

.clientes__contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clientes__contenido h1 {
    font-family: 'Geist-Bold';
    padding-bottom: 1.5em;
}
