body {
    background-color: #FDFBF2 !important;
}

.bgcabecera {
    background-image: url('/img/header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;


}

.cabecera {
    display: flex;
    flex-direction: row;
    justify-content: center;
   align-items: center;
    min-height: 600px;

}
.contenido-cabecera h1 {
    font-family: 'restora-bold';
}
.contenido-cabecera {
    display: flex;
    flex-direction: column;
    text-align:center;
    align-items: center;
    justify-content:center;

    max-width: 600px;

}

.categoria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;

    min-height: 350px;
    width: auto;
}

/* categoria contenedor */

.categorias-index {

    font-family: 'restora-bold';
    color: #fff;

    display: flex;
    flex-direction: row;
    gap: 20px;


}
.contenido-categoria {
    width: 294px;
    height: 243px;
    object-fit: cover;
    object-position: center;

    background-color: #22397A;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 1.4em;

    overflow-x: scroll;
}
.titulo-card {
    font-family: 'restora-bold';
}

.titular-producto p{
    font-family: 'restora-bold';
    color: #22397A;
}

.contenido {
    min-height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #22397A;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    gap: 20px;

    border-radius: 10px;
}

.promo .contenido h3 {
    font-family: 'restora-bold';
}

/* Card */
.contenedor-imagen {
    max-height: 270px;
    width: 100%;
}

.ver-producto {
    background-color: transparent;
    border:  1px solid #22397A;
    border-radius: .8em;
    color: #22397A;

    padding: .4em 1.3em .4em 1.3em;
    font-family: 'restora-bold';
}

.ver-mas-btn {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 10px;
    padding-bottom: 10px;

    height: auto;
    width: 150px;

    background-color: #22397A;
    color: #fff;
    border: none;
    border-radius: 10px;


    font-family: 'restora-bold';
    transition: .4s ease;
}
.ver-mas-btn:hover {
    background-color: #F1AE07;
    color: #22397A;
    border: none;
    border-radius: 10px;
    transition: .4s ease;
}

/* end card */
.promo .contenido a {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #F1AE07;
    color: #22397A;
    border: none;
    border-radius: 10px;


    font-family: 'restora-bold';
}

.promo .contenido a:hover {

    background-color: #aa7b06;
    color: #fff;
    border: none;
    border-radius: 10px;


    font-family: 'restora-bold';
}
.caracteristicas {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.caracteristicas .beneficios img {
    width: 50px;
    height: auto;
}
.caracteristicas .beneficios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.caracteristicas .beneficios .beneficio {
    font-family: 'restora-bold';
    color: #22397A;
    font-size: 1.2em;
}

.reviews {
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: #22397A;

}

.reviews__titulo {
    color: #fff;
    text-align: center;

}

.reviews__titulo h1 {
    font-family: 'restora-bold';
    padding-bottom: .5em;
    font-size: 2.5em;
}

.reviews__contenido {
    font-family: 'restora-bold';

}

.reviews__contenido span {
    font-size: 2.5em;
    color: #fff;
}

.reviews__contenido p {
    color: #FDFBF2;
    font-size: 1.2em;
}
.reviews__contenido .persona {
    color: #F1AE07;
    font-size: 1em;
    padding-top: 1em;
}

.footer {
    background-color: #22397A;
    display: flex;
    flex-direction: row;
    align-items: center;

    min-height: 450px;
    color: #fff;
    font-family: 'restora-bold';
}

.footer .atencion {
    background-color: #F1AE07;
    color: #22397A;
    font-family: 'restora-bold';
    width: 100px;
    border-radius: 1em;
    transition: .4s ease;

    margin-top: 1em;
    padding: .5em 1.5em .5em 1.5em;

    height: auto;
    width: 250px;

}

.ulista li {
    padding-bottom: .8em;
}
.footer .atencion:hover {
    background-color: #aa7b06;
    color: #fff;
    transition: .4s ease;
}
